{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-2 pt-4">
            <a href="
                {% if request.path == '/' %}
                    {% url 'register_folder' %}
                {% else %}
                    {% url 'register_sub_folder' folder.slug %}
                {% endif %}
            " class="folder-icon d-flex justify-content-center align-items-center cursor-pointer bg__custom__secondary text__custom__primary hover border__custom rounded__custom">
                <div class="d-flex flex-column text-center text-white" data-toggle="tooltip" title="Adicionar nova pasta">
                    <span class="material-icons fs-4">add</span>
                </div>
            </a>
        </div>

        {% for folder in folders %}
            <div class="col-12 col-sm-6 col-md-3 col-lg-2 pt-4 dropend">
                <a
                    id="folder__{{folder.id}}" 
                    class="folder-text d-flex justify-content-center align-items-center cursor-pointer bg__custom__secondary text-white hover border__custom rounded__custom" 
                    role="button" data-bs-toggle="dropdown" aria-expanded="false" 
                >
                    <span class="p-5" data-toggle="tooltip" title="{{folder.title}}">{{ folder.title|truncatechars:15 }}</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="folder__{{folder.id}}">
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-1 text-warning" href="{% url 'list_sub_folders' folder.slug %}"><span class="material-icons">folder_open</span>Acessar</a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-1 text-info" href="{% url 'change_folder' folder.slug %}"><span class="material-icons">edit_note</span>Editar</a>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center gap-1 text-danger" href="{% url 'delete_folder' folder.slug %}"><span class="material-icons">delete</span>Remover</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}