{% extends 'base.html' %}

{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block breadcrumb %}
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item bg-light p-2 rounded-start"><a href="/">Dashboard</a></li>
                    {% for breadcrumb in breadcrumbs reversed %}
                        {% if forloop.last %}
                            <li class="breadcrumb-item active bg-light p-2 rounded-end" aria-current="page">{{breadcrumb.title}}</li>
                        {% else %}
                            <li class="breadcrumb-item bg-light p-2"><a href="{% url 'list_sub_folders' breadcrumb.slug %}">{{breadcrumb.title}}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <a href="{% url 'register_sub_folder' folder.slug %}" class="folder col-12 col-sm-6 col-md-3 col-lg-2 pt-2">
            <div class="folder-icon border border-1 shadow-sm">
                <div class="row text-center">
                    <div class="col-12">
                        <span class="material-icons">add</span>
                    </div>
                    <div class="col-12">
                        <span>Add</span>
                    </div>
                </div>
            </div>
        </a>
        {% for sub_folder in sub_folders %}
            <a href="{% url 'list_sub_folders' sub_folder.slug %}" class="folder col-12 col-sm-6 col-md-3 col-lg-2 pt-2">
                <div class="folder-icon border border-1 shadow-sm">
                    <span class="text-muted">{{sub_folder.title}}</span>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}