from project import settings
from project.settings import DEBUG

# SECURITY WARNING: don't run with debug turned on in production!

ALLOWED_HOSTS = ['*']

INTERNAL_IPS = ('127.0.0.1', 'localhost')

if DEBUG:
    settings.INSTALLED_APPS += ['debug_toolbar']

    settings.MIDDLEWARE += ['debug_toolbar.middleware.DebugToolbarMiddleware'] + settings.MIDDLEWARE

    DEBUG_TOOLBAR_CONFIG = {
        'SHOW_TOOLBAR_CALLBACK': lambda request: False if request.is_ajax() else True,
    }

# Database
# https://docs.djangoproject.com/en/3.2/ref/settings/#databases

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': settings.BASE_DIR / 'db.sqlite3',
    }
}

AUTH_PASSWORD_VALIDATORS = []

# Printar envio de e-mails somente no terminal.
# EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'