{% load static %}

<!DOCTYPE html>

<html lang="pt-br" class="dark">
    <!-- BEGIN: HEAD -->
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="description" content="">
        <meta name="author" content="Lucas Eduardo de Oliveira Santos">

        <!-- Let browser know website is optimized for mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

        <!-- Import Material Icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- BEGIN: CSS ASSETS -->

        <!-- Import Css Bootstrap -->
        <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">

        <!-- Import Css Folder -->
        <link href="{% static 'css/folder.css' %}" rel="stylesheet">

        <!-- Import Css Index -->
        <link href="{% static 'css/index.css' %}" rel="stylesheet">

        {% block css %}
        {% endblock %}

        <!-- END: CSS ASSETS -->

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <!-- END: HEAD -->

    <body>
        <!-- BEGIN: HEADER -->
        <header></header>
        <!-- END: HEADER -->

        <!-- BEGIN: CONTENT -->
        <main>
            <div class="min-vh-100 bg-primary p-4">
                <div class="bg-light p-3 rounded-3 min-vh-100">
                    {% block breadcrumb %}
                    {% endblock %}
                    
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </main>
        <!-- END: CONTENT -->

        <!-- BEGIN: FOOTER -->
        <footer></footer>
        <!-- END: FOOTER -->

        <!-- BEGIN: JS ASSETS -->

        <!-- Import Js Jquery -->
        <script src="{% static 'js/jquery/jquery.min.js' %}"></script>

        <!-- Import Js Bootstrap -->
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>

        <!-- Import Js Bootstrap Bundle -->
        <script src="{% static 'js/bootstrap/bundle/bootstrap.bundle.min.js' %}"></script>

        <!-- Import Js Index -->
        <script src="{% static 'js/index.js' %}"></script>

        <!-- END: JS ASSETS -->

        {% block script %}
        {% endblock %}
    </body>
</html>